<div class="kanban-wrapper">
  <div class="kanban-header">
    <h1>Content Creator's Kanban Board</h1>
    <%= link_to 'New Project', new_video_project_path, class: 'btn-primary' %>
  </div>

  <div class="kanban-board">
    <div class="kanban-column">
      <h2>Planning</h2>
      <div class="kanban-cards">
        <% @planning.each do |project| %>
          <%= render 'kanban_card', project: project %>
        <% end %>
      </div>
    </div>
    
    <div class="kanban-column">
      <h2>Scripting</h2>
      <div class="kanban-cards">
        <% @scripting.each do |project| %>
          <%= render 'kanban_card', project: project %>
        <% end %>
      </div>
    </div>
    
    <div class="kanban-column">
      <h2>Filming</h2>
      <div class="kanban-cards">
        <% @filming.each do |project| %>
          <%= render 'kanban_card', project: project %>
        <% end %>
      </div>
    </div>
    
    <div class="kanban-column">
      <h2>Editing</h2>
      <div class="kanban-cards">
        <% @editing.each do |project| %>
          <%= render 'kanban_card', project: project %>
        <% end %>
      </div>
    </div>
    
    <div class="kanban-column">
      <h2>Published</h2>
      <div class="kanban-cards">
        <% @published.each do |project| %>
          <%= render 'kanban_card', project: project %>
        <% end %>
      </div>
    </div>
  </div>
</div>
