<div id="<%= dom_id video_project %>">
  <div>
    <strong>Title:</strong>
    <%= video_project.title %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= video_project.status %>
  </div>

  <div>
    <strong>Target date:</strong>
    <%= video_project.target_date %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= video_project.category %>
  </div>

</div>
