<p style="color: green"><%= notice %></p>

<%= render @production_task %>

<div>
  <%= link_to "Edit this production task", edit_production_task_path(@production_task) %> |
  <%= link_to "Back to production tasks", production_tasks_path %>

  <%= button_to "Destroy this production task", @production_task, method: :delete %>
</div>
